<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obrigado</title>
</head>
<body>
    <div class="header">
        <h1 class="mercado">MERCADO</h1>
        <h2 class="joaquim">JOAQUIM</h2>
    </div>

    <div class="final">
        <h1 class="frase">
            Obrigado pela compra! <br>
            Volte sempre. O Mercado <br> Joaquim agradece a preferência.
        </h1>
    </div>


    
</body>
</html>
