<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="css/stylecaixa.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caixa</title>
</head>

<body>
    <div class="header">
        <h1 class="mercado">MERCADO</h1>
        <h2 class="joaquim">JOAQUIM</h2>
    </div>

    <DIV class="container">

        <div class="caixaA">
            <div class="caixaB">
                <h1 class="caix">CAIXA ABERTO</h1>
            </div>
        </div>
        <div class="codBar">
            <h1 class="barras">CODIGO DE BARRAS</h1>
            <input type="text">
        </div>
        <div class="valUni">
            <h1 class="valor">VALOR UNITARIO</h1>
            <p></p>
        </div>
        <div class="totalItem">
            <H1 class="total">TOTAL DO ITEM</H1>
            <p></p>
        </div>
        <div class="codPro">
            <H1 class="produto">CODIGO DO PRODUTO</H1>
            <p></p>
        </div>
        <div class="legenda">
            <h1 class="leg">Aperte F10 para finalizar a compra</h1>
            <h1 class="leg">Aperte F9 para excluir produto</h1>
        </div>
        

        <div class="listProd">
            <H1 class="lista">LISTA DE PRODUTOS</H1>
            <table>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Quantidade
                    </th>
                    <th>
                        Preço
                    </th>

                </tr>
            </table>
        </div>
        <div class="sub">
            <H1 class="subs">SUBTOTAL</H1>
            <p></p>
        </div>
       

    </DIV>

</body>

</html>
